<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About Us</a>
                </li>                
            </ul>    
        </div>
    </nav>
    <h1>
    Best Cars    
    </h1>
    <ul>
        <li>1234 Main St.</li>
        <li>Dumas, TX 77777</li>
        <li>(817) 555-1234</li>
</body>
</html>